/.ClassCreatedReaction.java._trace
/.InterfaceCreatedReaction.java._trace
/.Java2PcmClassifierChangePropagationSpecification.java._trace
/.PackageCreatedReaction.java._trace
/.ReactionsExecutor.java._trace
/.TypeReferenceCreatedReaction.java._trace
/ClassCreatedReaction.java
/InterfaceCreatedReaction.java
/Java2PcmClassifierChangePropagationSpecification.java
/PackageCreatedReaction.java
/ReactionsExecutor.java
/TypeReferenceCreatedReaction.java
